/* .bg-light{
    background-color: #9DB2BF !important;
};    */

.nav-link{
    color: #6200EE;
}
.active{
    color: #6200EE !important;
}

.center{
    text-align: center;
    justify-content: center;
}
 
.nav-item{
    padding: 0 20px 0 10px;
    font-size: 20px;

    
    font-weight: bold;
}

.titulo{
    font-weight: bold;
    color: #6200EE;
}



