<div class="modalSize">
	<div class="modal-header modalBackground2">
		<h4 class="modal-title miniData">Información de la persona </h4>
		<button type="button" class="btn-close" (click)="modalClose()" aria-label="Close"></button>
	</div>
	<div class="container modalBackground">
    <div class="row">
      <div class="col-lg-6 d-flex align-items-center">
        <div class="modal-body modalPhoto">
          <img src="../../../assets/images/avatar.jpg" class="card-img-top sizephoto" alt="posterImg">
        </div>
      </div>
    <div class="col-lg-6 infoUser">
      <div class="miniData">
        <p><i class="bi bi-caret-right-fill"></i>Nombre: {{user.name}}</p>
      </div>
      <div class="miniData ">
        <p> Apellido: {{user.surname}}</p>
      </div>
      <div class="miniData ">
        <p >Email: {{user.email}}</p>
      </div>
      <div class="miniData">
        <p >Dirección: {{user.ubication}}</p>
      </div>
      <div class="form-check form-switch">
        <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
        <label class="form-check-label font" for="flexSwitchCheckDefault">Seguir Usuario</label>
      </div>

    </div>
    </div>
	</div>
</div>
