<div *ngIf="questions" class="boxR">


  <h1 class="title">Registro</h1>




  <form class="needs-validation" [formGroup]="form" (ngSubmit)="onSubmit(form.value)">

    <!-- CEDULA -->
      <div class="form-group mb-3 ">
          <label class="form-label titu" for="ci">CI</label>
          <input formControlName="ci" required type="text" class="{{ciIsValid}}" >
        <div *ngIf="ci.invalid && (ci.dirty || ci.touched)">
          <p *ngIf="ci.hasError('required')" class="text-danger">La cedula no es válida</p>
        </div>
      </div>


    <!-- NOMBRE -->
    <div class="form-group mb-3 ">
      <label class="form-label titu" for="names">Nombre</label>
      <input formControlName="names" required type="text" class="{{nameIsValid}}" >
      <div *ngIf="names.invalid && (names.dirty || names.touched)">
        <p *ngIf="names.hasError('required')" class="text-danger">El Nombre no es válido</p>
      </div>
  </div>

    <!-- APELLIDOS -->
    <div class="form-group mb-3 ">
      <label class="form-label titu" for="surname">Apellidos</label>
      <input formControlName="surname" required type="text" class="{{surnameIsValid}}" >
        <div *ngIf="surname.invalid && (surname.dirty || surname.touched)">
          <p *ngIf="surname.hasError('required')" class="text-danger">El Apellido no es válido</p>
        </div>
    </div>


    <!-- EMAIL -->
    <div class="form-group mb-3 ">
      <label class="form-label titu" for="email">Correo Electrónico</label>
      <input formControlName="email" required type="text" class="{{emailIsValid}}" >
        <div *ngIf="email.invalid && (email.dirty || email.touched)">
          <p *ngIf="email.hasError('required')" class="text-danger">El Correo Electrónico no es válido</p>
        </div>
    </div>


    <!-- DIRECCION -->
    <div class="form-group mb-3 ">
      <label class="form-label titu" for="direccion">Direccion</label>
      <input formControlName="direccion" required type="text" class="{{direccionIsValid}}" >
        <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)">
          <p *ngIf="direccion.hasError('required')" class="text-danger">La Direeccion no es válida</p>
        </div>
    </div>


    <!-- PASSWORD -->
    <div class="form-group mb-3 ">
      <label class="form-label titu" for="password">Contraseña</label>
      <input formControlName="password" required type="password" class="{{passwordIsValid}}" >
        <div *ngIf="password.invalid && (password.dirty || password.touched)">
          <p *ngIf="password.hasError('required')" class="text-danger">La Contraseña no es válida</p>
        </div>
    </div>


    <!-- CONFIRM PASSWORD -->
    <div class="form-group mb-3 ">
      <label class="form-label titu" for="password2">Confrimar Contraseña</label>
      <input formControlName="password2" required type="password" class="{{password2IsValid}}" >
        <div *ngIf="password2.invalid && (password2.dirty || password2.touched)">
          <p *ngIf="password2.hasError('required')" class="text-danger">La Contraseña no es válida</p>
        </div>
    </div>


    <div class="row g-2 mb-3">

      <!-- QUESTIONS -->
      <div class="col-md ">
          <label class="form-label titu">Pregunta de Seguridad</label>
          <select formControlName="question" class="form-select form-select-sm mb-3 textoptions border" aria-label=".form-select-sm example">
            <option selected hidden></option>
            <option *ngFor="let question of questions">{{question.pregunta}}</option>
          </select>

          <div *ngIf="question.invalid && (question.dirty || question.touched)">
            <p *ngIf="question.hasError('required')" class="text-danger">La pregunta no es válida</p>
          </div>

      </div>




      <!-- ANSWER -->


      <div class="col-md ">
        <label class="form-label titu" for="response">Respuesta a Pregunta</label>
        <input formControlName="response" required type="text" class="{{responseIsValid}}" >
          <div *ngIf="response.invalid && (response.dirty || response.touched)">
            <p *ngIf="response.hasError('required')" class="text-danger">La Respuesta no es válida</p>
          </div>
      </div>
    </div>

    <div *ngIf="errorRegister" class="error-message">
      {{ errorRegister }}
    </div>



    <div class="buttonSize">
        <button type="button" class="btn btn-primary btn-block btn-lg but" type="submit">Registrarse</button>
    </div>


  </form>
</div>


