<div *ngIf="categories" class="boxR">


    <h1 class="title">Crear Publicación</h1>



    <div class="mb-3">   
        <label class="form-label titu" for="floatingInput">Título</label>
        <input type="title" class="form-control fondo" id="floatingInput">
     
    </div>
    <div class="mb-3">
        <label for="floatingInput2" class="form-label titu">Descripción</label>
        <textarea type="Descripción" class="form-control fondo" id="floatingInput2"  style="height: 150px"></textarea>
   
        <!-- <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea> -->
    </div>
    <div class="row g-2">
        <div class="col-md">
            <select class="form-select form-select-sm mb-3 bg-dark text-white textoptions" aria-label=".form-select-sm example">
                <option selected>Selecciona Categoría</option>
                <option *ngFor="let categoty of categories">{{categoty.name}}</option>
            </select>
        </div>
        <div class="col-md">
            <select class="form-select form-select-sm mb-3 textoptions" aria-label=".form-select-sm example">
                <option selected>Selecciona tipo Publicación</option>
                <option>Necesidad</option>
                <option>Voluntario</option>
            </select>
        </div>  
    </div>   
            <div class="input-group mb-3 textoptions">
                <input type="file" class="form-control textoptions" id="inputGroupFile02">
                <label class="input-group-text textoptions" for="inputGroupFile02">Subir</label>
            </div>
            <div class="buttonSize">
                <button type="button" class="btn btn-primary btn-block btn-lg but">Publicar</button>
              </div>
</div>


