.boxR{
    border-radius: 10px;
    background-color: #121212;
    width: 50%;
    align-items: center;;
    margin: 0 auto;
    margin-top: 5rem;
    color: #282828;

}



.but{
    background-color: #6200EE;
    border: var(--bs-border-width) solid #00AA55;
}

.buttonSize{
    text-align: center;
    padding: 2rem;

}

textarea{
    background-color: #282828;
    color: #ffffff;
}


.titu{
    color: #6200EE;
}


.fondo{
    background-color: #282828;
    color: #ffffff;
    border: var(--bs-border-width) solid #6200EE;
}


.textoptions{
    background: #282828;
    border: var(--bs-border-width) solid #6200EE;
    color: #ffffff;
  }




.custom-file-input {
    background-color: #121212!important;
    border-color: #121212!important;
}


.title{
    color: #00AA55;
    margin-left: 1rem;
}